@keyframes colorChange {
    0% {
        color: #000;
    }

    25% {
        color: #ff0000;
    }

    50% {
        color: #00ff00;
    }

    75% {
        color: #0000ff;
    }

    100% {
        color: #000;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animated-link {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: #000;
    transition: transform 0.3s;
}

.animated-link::before,
.animated-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: all 0.3s;
}

.animated-link::before {
    left: 50%;
    bottom: 0;
}

.animated-link::after {
    right: 50%;
    bottom: 0;
}

.animated-link:hover::before,
.animated-link:hover::after {
    width: 50%;
}

.animated-link:hover {
    animation: colorChange 1s linear infinite;
    transform: translateY(-5px);
}

ul {
    opacity: 0;
    animation: fadeIn 1s forwards;
}