@keyframes gradient-border {
    0% {
        border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 0%);
    }

    50% {
        border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
    }

    100% {
        border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0) 100%, rgba(255, 255, 255, 0) 100%);
    }
}

.animate-gradient-border {
    border-width: 4px;
    border-style: solid;
    animation: gradient-border 3s infinite;
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-green-400 {
    --tw-gradient-from: #34d399;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(52, 211, 153, 0));
}

.via-blue-500 {
    --tw-gradient-stops: var(--tw-gradient-from), #3b82f6, var(--tw-gradient-to, rgba(59, 130, 246, 0));
}

.to-purple-600 {
    --tw-gradient-to: #8b5cf6;
}